header {
	background-color: white;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 70px;
	background-position: 20px 50%;
	border-bottom: 1px solid #CCCCCC;
}
